In [2]:
import pandas as pd
dataframe = pd.read_csv('data.csv')
dataframe

      12:01;RE5;5006118;7800;0
0     12:01;RE5;5006118;7800;6
1     12:01;RE5;5006118;7800;4
2     12:01;RE5;5006118;7800;5
3     12:01;RE5;5006118;7800;0
4     12:01;RE5;5006118;7800;1
...                        ...
4994   16:55;S1;5006118;7800;0
4995   16:55;S1;5006118;7800;0
4996   16:55;S1;5006118;7800;0
4997   16:55;S1;5006118;7800;0
4998   16:55;S1;5006118;7800;3

[4999 rows x 1 columns]

In [ ]:
dataframe.describe()